<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MedPlot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MedPlot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MedPlot.Properties.Settings>
            <setting name="DescricaoFuncoes" serializeAs="String">
                <value>Todas as funções de identificação de oscilações habilitadas. Função de análise de eventos habilitada.</value>
            </setting>
            <setting name="selectAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="QueryFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OscillationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentConfig" serializeAs="String">
                <value>openPDC_UFSC_214</value>
            </setting>
        </MedPlot.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MedPlot.Properties.Settings>
            <setting name="enablesDFT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enablesProny" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enablesCCA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enablesEventsAnalyzer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enablesMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enabledRegeditFix" serializeAs="String">
                <value>True</value>
            </setting>
        </MedPlot.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Console" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
